.title {
 text-align: center;   
}

table {
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd
}

th {
    border-bottom: 1px solid black;
    padding: 8px
}

td {
    text-align: left;
    padding: 8px
}

.centerTD {
    text-align: center;
}

.queueShadow {
    box-shadow: 10px 10px 3px grey;
}

.queueBtn {
    background-color: steelblue;
    color: white;
    border-radius: 8px;
}

.queueBtn:hover {
    background-color:slategrey;
}