button {
    margin: 3px;
}

table {
    width: 80%;
}

select {
    margin: 3px;
}

input {
    margin: 3px;
}

.wideColumn {
    max-width: 50%;
    word-wrap: break-word;
}

h3 {
    text-align: center;
}

form {
    text-align: center;
}

.thLeft {
    text-align: left;
}

thead {
  background-color: #00acb0;
  color: white;
}

img {
    height: 200px;
    width: 65px;
}
